.custom1, body {
	font-family: 'pt sans caption', arial, serif;
	font-size: 15px;
	line-height: 1.6em;
}
.custom11 {
	color: #e1e1e1;
}
.custom11:hover {
	color: #ffffff;
}
.custom13 {
	color: #efefef;
	font-family: 'pt sans narrow', arial, serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 140%;
	margin: 0 0 5px 0;
	text-align: left;
}
.custom14 {
	color: #3c3c3c;
	font-family: 'cuprum', arial, serif;
	font-size: 26px;
	font-weight: normal;
	line-height: 130%;
	margin: 0 0 15px 0;
}
.custom15 {
	color: #880e12;
	font-family: 'cuprum', arial, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0 0 0.769rem 0;
}
.custom16 {
	color: #ffffff;
	font-family: 'pt sans caption', arial, serif;
	font-size: 12px;
}
.custom17 {
	color: #ce0000;
	font-family: 'pt sans narrow', arial, serif;
	font-size: 25px;
	font-weight: bold;
}
.custom17:hover {
	color: #ce0000;
	text-decoration: underline;
}
.custom2, p, .Container .Textarea {
	color: #3c3c3c;
	line-height: 140%;
}
.custom3, h1 {
	color: #3c3c3c;
	font-family: 'cuprum', arial, serif;
	font-size: 35px;
	line-height: 1.3em;
	margin: 0 0 0.769rem 0;
	text-transform: uppercase;
}
.custom4, h2 {
	font-family: 'cuprum', arial, serif;
	font-size: 22px;
	line-height: 1.3em;
	margin: 0 0 0.769rem 0;
}
.custom5, h3 {
	font-family: 'cuprum', arial, serif;
	font-size: 19px;
	line-height: 1.6em;
	margin: 0 0 0.4614rem 0;
}
.custom6, h4 {
	color: #e1e1e1;
	font-family: 'cuprum', arial, serif;
	font-size: 17px;
	line-height: 1.6em;
	margin: 0 0 0.769rem 0;
	text-transform: uppercase;
}
.custom7, a {
	color: #ce0000;
	text-decoration: none;
}
.custom7:hover, a:hover, .link-styles:hover a {
	color: #f70000;
}
.custom9 {
	color: #ffffff;
	font-family: 'cuprum', arial, serif;
	font-size: 50px;
	line-height: 1em;
}
html, .DefaultBody {
	font-size: 15px;
}
.centered-btns_nav {
	bottom: auto;
	top: 0px;
}
.flexbox-grid li .gallery-image a {
	height: 123px;
}
.form-header {
	font-size: 16px;
	margin: 0 0 15px 0;
}
.form-input .form-input-field {
	background-color: #ffffff;
	border-color: #dadada;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	color: #414141;
	font-family: 'open sans', arial, serif;
	margin: 0 0 10px 0;
	padding: 10px 15px 10px 15px;
}
.form-input .form-input-field::-moz-placeholder {
	color: #414141;
}
.form-input .form-input-field::-webkit-input-placeholder {
	color: #414141;
}
.form-input .form-input-field:-moz-placeholder {
	color: #414141;
}
.form-input .form-input-field:-ms-input-placeholder {
	color: #414141;
}
.form-input .form-input-upload {
	background-color: #c5c5c5;
	border-color: #a5a5a5;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	color: #414141;
}
.form-input .form-input-upload-container {
	margin: 0 0 10px 0;
}
.form-input .FormSubmitButton {
	background-color: #ce0000;
	border-color: transparent;
	border-style: none;
	border-width: 1px 1px 1px 1px;
	color: #f5f5f5;
	margin: 0 0 0 0;
	padding: 10px 15px 10px 15px;
	width: 100%;
}
.form-input .FormSubmitButton.active {
	background-color: #7c0000;
}
.form-input .FormSubmitButton:hover {
	background-color: #7c0000;
}
.form-input-field.form-input-calendar {
	background-position: 15px center !important;
	padding: 10px 15px 10px 39px;
}
.form-star {
	color: #ff0000;
}
.form-text {
	color: #8f8f8f;
	font-family: 'open sans', arial, serif;
	font-size: 14px;
	padding: 5px 15px 5px 0;
}
.Gallery.Inline .gallery-image.regular {
	width: 200px;
}
.Gallery.Inline .gallery-image.regular a {
	height: 123px;
	width: 200px;
}
.Gallery.Inline .gallery-image-thumbnail {
	bottom: 0px;
	left: 0px;
	margin: auto auto auto auto;
	position: absolute;
	right: 0px;
	top: 0px;
}
.gallery-header {
	background-color: #e1e1e1;
	color: #414141;
	font-size: 13px;
	margin: 0 0 1.538rem 0;
	padding: 10px 15px 10px 15px;
}
.gallery-image {
	border-color: #a5a5a5;
	border-style: none;
	border-width: 1px 1px 1px 1px;
	margin: 0.769rem 0.769rem 0.769rem 0.769rem;
}
.gallery-image.regular {
	width: 200px;
}
.gallery-image-product {
	margin: 0 0 1.538rem 0;
}
.gallery-wrapper ul {
	margin-bottom: -0.769rem;
	margin-top: -0.769rem;
}
.navigation-container {
	background-color: #3c3c3c;
	width: 260px;
}
.navigation-menu-box {
	background-color: #3c3c3c;
	color: #ffffff;
	font-family: 'cuprum', arial, serif;
	font-size: 17px;
	padding: 1.538rem 1.538rem 1.538rem 1.538rem;
}
.navigation-menu-container .level1 li a {
	background-color: transparent;
	border-color: #aa1217;
	border-style: none;
	border-width: 2px 0 0 0;
	color: #efefef;
	font-family: 'cuprum', arial, serif;
	font-size: 17px;
	margin: 0 0 0 0;
	padding: 10px 15px 10px 15px;
	text-align: left;
}
.navigation-menu-container .level1 li a.active {
	background-color: #ce0000;
	border-color: #ffffff;
	color: #efefef;
}
.navigation-menu-container .level1 li a:hover {
	background-color: #ce0000;
	border-color: #ffffff;
	color: #efefef;
}
.navigation-menu-container .level2 li a {
	background-color: transparent;
	border-color: #660b0e;
	border-style: none;
	border-width: 2px 0 0 0;
	color: #efefef;
	font-size: 15px;
	padding: 10px 15px 10px 30px;
}
.navigation-menu-container .level2 li a.active {
	background-color: #ce0000;
	border-width: 2px 0 0 0;
	color: #efefef;
}
.navigation-menu-container .level2 li a:hover {
	background-color: #ce0000;
	border-width: 2px 0 0 0;
	color: #efefef;
}
.navigation-menu-container .level3 li a {
	background-color: #cdcdcd;
	border-color: #c5c5c5;
	color: #000000;
	padding: 8px 15px 8px 30px;
}
.navigation-menu-container .level4 li a {
	background-color: #a5a5a5;
	border-color: #a5a5a5;
	font-style: italic;
	font-weight: bold;
}
.thumb-title {
	font-size: 13px;
	margin: 0 5px 0 5px;
}
table.input-list td {
	padding: 4px 0 0 10px;
}
.con-36 {
	background-attachment: fixed;
	background-color: transparent;
	background-image: url('../templates/1/bambus.jpg');
	background-position: center center;
	background-repeat: repeat;
	border-color: #282828;
	border-style: none;
	border-width: 5px 0 0 0;
	min-height: 100%;
	padding: 0 0 0 0;
}
.con-37 {
	background-color: #ffffff;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 1.538rem 1.538rem 1.538rem 1.538rem;
	position: relative;
}
.con-38 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 0;
	position: relative;
}
.con-39 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 30px;
	position: relative;
}
.con-40 {
	clear: both;
	height: auto;
	min-height: 48px;
	padding: 0 0 0 0;
	position: relative;
}
.con-41 {
	clear: both;
	height: auto;
	min-height: 33px;
	padding: 0 0 0 0;
	position: relative;
}
.con-42 {
	clear: both;
	height: auto;
	min-height: 0;
	padding: 0 0 0 0;
	position: relative;
}
.con-43 {
	background-color: #efefef;
	background-repeat: repeat;
	border-color: #f5f5f5;
	border-style: none;
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 1.538rem 0 1.538rem 0;
	position: relative;
}
.con-44 {
	background-color: transparent;
	min-height: 0;
	padding: 0 0 0 0;
}
.con-45 {
	padding: 0 0 0 0;
}
.con-46 {
	border-width: 0 0 0 0;
	height: auto;
	min-height: 40px;
	text-align: center;
}
#site-container-12 .menu-container .level1 .level2 .level3 li a {
	background-color: #7c0000;
	color: #ffffff;
	margin: 0 0 1px 1px;
}
#site-container-12 .menu-container .level1 .level2 .level3 li a.active {
	background-color: #a50000;
	color: #ffffff;
}
#site-container-12 .menu-container .level1 .level2 .level3 li a:hover {
	background-color: #a50000;
	color: #ffffff;
}
#site-container-12 .menu-container .level1 .level2 li a {
	background-color: #5b5b5b;
	border-color: #8e8e8e;
	border-style: none;
	border-width: 1px 1px 0 1px;
	color: #efefef;
	font-size: 17px;
	margin: 0 0 0 0;
	padding: 10px 15px 10px 15px;
	text-align: left;
	text-transform: none;
}
#site-container-12 .menu-container .level1 .level2 li a.active {
	background-color: #ce0000;
	border-color: #a50000;
	color: #efefef;
}
#site-container-12 .menu-container .level1 .level2 li a:hover {
	background-color: #ce0000;
	border-color: #a50000;
	color: #efefef;
}
#site-container-12 .menu-container .level1 li a {
	background-color: #3c3c3c;
	border-color: #3c3c3c;
	border-style: solid;
	border-width: 0 0 3px 0;
	color: #efefef;
	font-family: 'pt sans narrow', arial, serif;
	font-size: 17px;
	margin: 0 10px 0 0;
	padding: 18px 10px 15px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
#site-container-12 .menu-container .level1 li a.active {
	background-color: #3c3c3c;
	border-color: #ce0000;
	border-width: 0 0 3px 0;
	color: #efefef;
}
#site-container-12 .menu-container .level1 li a:hover {
	background-color: #3c3c3c;
	border-color: #ce0000;
	border-width: 0 0 3px 0;
	color: #efefef;
}
#site-container-12 .menu-container .level1 li.last a.level1 {
	margin: 0 0 0 0;
}
.con-57 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 340px;
	position: relative;
}
#site-container-14 .googlemap, #site-container-5441 .googlemap {
	height: auto;
	width: 100px;
}
.con-59 {
	background-color: transparent;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 0 1.538rem 0 1.538rem;
	position: relative;
}
.con-60 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 20px;
	position: relative;
}
.con-61 {
	clear: both;
	height: auto;
	min-height: 20px;
	padding: 0 0 0 0;
	position: relative;
}
.con-62 {
	clear: both;
	height: auto;
	margin: 0 0 4.614rem 0;
	min-height: 185px;
	padding: 0 0 0 0;
	position: relative;
}
.con-63 {
	clear: both;
	height: auto;
	margin: 6.152rem 0 0 0;
	min-height: 22px;
	padding: 0 0 0 0;
	position: relative;
}
.con-64 {
	clear: both;
	height: auto;
	min-height: 15px;
	padding: 0 0 0 0;
	position: relative;
}
.con-65 {
	background-color: #f4f4f4;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 1.538rem 0 1.538rem 0;
	position: relative;
}
.con-66 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 200px;
	position: relative;
}
.con-67 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 199px;
	padding: 0 0 0 0;
	position: relative;
}
.con-68 {
	clear: both;
	height: auto;
	min-height: 199px;
	padding: 0 0 0 0;
	position: relative;
}
.con-69 {
	clear: both;
	height: auto;
	margin: 4.1526rem 0 1.538rem 0;
	min-height: 199px;
	padding: 0 0 0 0;
	position: relative;
}
.con-70 {
	clear: both;
	height: auto;
	min-height: 200px;
	padding: 0 0 0 0;
	position: relative;
}
.con-71 {
	background-color: transparent;
	background-image: none;
	background-position: center center;
	background-repeat: repeat;
	border-color: #ce0000;
	border-style: solid;
	border-width: 20px 0 0 0;
	height: auto;
	min-height: 0;
}
.con-72 {
	background-color: transparent;
	height: auto;
	min-height: 0;
	padding: 1.538rem 0 1.538rem 0;
}
.con-73 {
	height: auto;
	min-height: 20px;
	position: relative;
}
.con-74 {
	background-color: transparent;
	clear: both;
	height: auto;
	min-height: 10px;
	padding: 0 0 0 0;
	position: relative;
}
.con-75 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 10px;
	position: relative;
	width: auto;
}
#site-container-81 .credits {
	text-align: center;
}
#site-container-81 .credits a {
	color: #c3c3c3;
	font-family: 'pt sans caption', arial, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#site-container-81 .credits a:hover {
	color: #ffffff;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.con-79 {
	background-color: #ffffff;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 0 1.538rem 1.538rem 1.538rem;
	position: relative;
}
.con-80 {
	border-width: 0 0 0 0;
	clear: both;
	height: 300px;
	position: relative;
}
#site-container-87 .centered-btns_nav {
	bottom: auto;
	height: 500px;
	margin: 0 0 0 0;
	top: 0px;
	width: 50px;
}
#site-container-87 .centered-btns_nav.next {
	background-image: url('../templates/1/arrow-right.html');
}
#site-container-87 .centered-btns_nav.prev {
	background-image: url('../templates/1/arrow-left.html');
}
#site-container-87 .centered-btns_tabs {
	left: 15pxpx;
	top: 15pxpx;
}
#site-container-87 .centered-btns_tabs .centered-btns_here a, #site-container-3287 .centered-btns_tabs .centered-btns_here a {
	background: #ffffff;
}
#site-container-87 .centered-btns_tabs a, #site-container-3287 .centered-btns_tabs a {
	background: #000000;
}
#site-container-87 .rslides .opacityArea, #site-container-3287 .rslides .opacityArea, #site-container-5781 .rslides .opacityArea {
	background-color: #282828;
	opacity: 0.8;
}
#site-container-87 .rslides .opacityDescription, #site-container-3287 .rslides .opacityDescription, #site-container-5781 .rslides .opacityDescription {
	background-color: transparent;
	opacity: 1;
}
#site-container-87 .rslides .opacityTitle, #site-container-3287 .rslides .opacityTitle, #site-container-5781 .rslides .opacityTitle {
	background-color: transparent;
	opacity: 1;
}
#site-container-87 .rslides_caption {
	bottom: auto;
	height: auto;
	left: auto;
	padding: 20px 20px 20px 20px;
	right: 20pxpx;
	text-align: left;
	top: 20pxpx;
	width: 260px;
}
#site-container-87 .slide_description, #site-container-3287 .slide_description, #site-container-5781 .slide_description {
	color: #ffffff;
	font-family: 'arial', helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#site-container-87 .slide_header, #site-container-3287 .slide_header, #site-container-5781 .slide_header {
	color: #ffffff;
	font-family: 'arial', helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	line-height: 13px;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
}
.con-93 {
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 26px;
	padding: 1.538rem 0 0 0;
	position: relative;
}
.con-94 {
	clear: both;
	height: auto;
	min-height: 19px;
	padding: 0 0 0 0;
	position: relative;
}
.con-95 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 200px;
	padding: 0 0 0 0;
	position: relative;
}
.con-96 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 15px;
	padding: 0 0 0 0;
	position: relative;
}
.con-97 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 250px;
	padding: 0 0 0 0;
	position: relative;
}
.con-98 {
	clear: both;
	height: auto;
	min-height: 18px;
	padding: 0 0 0 0;
	position: relative;
}
.con-99 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 50px;
	padding: 0 0 0 0;
	position: relative;
}
.con-100 {
	clear: both;
	height: auto;
	min-height: 50px;
	padding: 0 0 0 0;
	position: relative;
}
.con-101 {
	clear: both;
	height: auto;
	min-height: 138px;
	padding: 0 0 0 0;
	position: relative;
}
.con-102 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 112px;
	padding: 0 0 0 0;
	position: relative;
}
.con-103 {
	clear: both;
	height: auto;
	margin: 1.538rem 0 0 0;
	min-height: 102px;
	padding: 0 0 0 0;
	position: relative;
}
.con-104 {
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 0 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 21px;
	padding: 3.076rem 0 0 0;
	position: relative;
}
.con-105 {
	clear: both;
	height: auto;
	min-height: 11px;
	padding: 0 0 0 0;
	position: relative;
}
.con-106 {
	clear: both;
	height: auto;
	min-height: 0;
	padding: 3.076rem 0 0 0;
	position: relative;
}
.con-107 {
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 0 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 24px;
	padding: 3.076rem 0 0 0;
	position: relative;
}
.con-108 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 131px;
	padding: 0 0 0 0;
	position: relative;
}
.con-109 {
	clear: both;
	height: auto;
	min-height: 117px;
	padding: 0.769rem 0 0 0;
	position: relative;
}
.con-110 {
	background-color: #ffffff;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 0.769rem 0.769rem 0.769rem 0.769rem;
	position: relative;
}
.con-111 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 0;
	position: relative;
}
.con-112 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 20px;
	position: relative;
}
.con-113 {
	clear: both;
	height: auto;
	min-height: 59px;
	padding: 0 1.538rem 0 0;
	position: relative;
}
.con-114 {
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 20px;
	position: relative;
}
#site-container-1904 .searchbox-input {
	background-color: #5b5b5b;
	background-position: left top;
	border-color: #cdcdcd;
	border-style: none;
	border-width: 0 0 0 0;
	color: #a5a5a5;
	font-family: 'arial', helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 7px 15px 8px 15px;
	z-index: 50;
}
#site-container-1904 .searchbox-input::-moz-placeholder {
	color: #a5a5a5;
}
#site-container-1904 .searchbox-input::-webkit-input-placeholder {
	color: #a5a5a5;
}
#site-container-1904 .searchbox-input:-moz-placeholder {
	color: #a5a5a5;
}
#site-container-1904 .searchbox-input:-ms-input-placeholder {
	color: #a5a5a5;
}
#site-container-1904 .searchbox-submit {
	background-color: #880e12;
	background-position: left top;
	border-color: #cdcdcd;
	border-style: none;
	border-width: 0 0 0 0;
	color: #ffffff;
	font-family: 'arial', helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 7px 10px 8px 10px;
	z-index: 51;
}
.con-121 {
	background-color: transparent;
	background-image: none;
	border-color: #ce0000;
	border-style: solid;
	border-width: 0 0 20px 0;
	clear: both;
	height: auto;
	min-height: 0;
	position: relative;
}
.con-122 {
	background-color: transparent;
	border-color: #aa1217;
	border-style: none;
	border-width: 5px 0 0 0;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 1.538rem 0 1.538rem 0;
	position: relative;
}
.con-123 {
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 150px;
	position: relative;
}
.con-124 {
	background-color: transparent;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 1.538rem 0 0 0;
	position: relative;
}
.con-125 {
	border-width: 0 0 0 0;
	clear: both;
	height: 354px;
	margin: 0 0 1.538rem 0;
	position: relative;
}
#site-container-3287 .centered-btns_nav, #site-container-5781 .centered-btns_nav {
	bottom: 0px;
	height: 40px;
	margin: 1.538rem 1.538rem 1.538rem 1.538rem;
	top: auto;
	width: 40px;
}
#site-container-3287 .centered-btns_tabs {
	left: 15px;
	top: 15px;
}
#site-container-3287 .rslides_caption, #site-container-5781 .rslides_caption {
	bottom: auto;
	height: auto;
	left: auto;
	padding: 1.538rem 1.538rem 1.538rem 1.538rem;
	right: 20px;
	text-align: left;
	top: 20px;
	width: 260px;
}
.con-129 {
	background-color: rgb(244, 244, 244);
	border-color: rgb(195, 195, 195);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	clear: both;
	height: auto;
	min-height: 125px;
	padding: 0.769rem 0.769rem 0.769rem 0.769rem;
	position: relative;
}
.con-130 {
	background-image: url('../images/archive/2-c2a/knap_320.html');
	background-position: 0% 0%;
	background-repeat: repeat-x;
	clear: both;
	height: auto;
	min-height: 42px;
	padding: 0 0 0 0;
	position: relative;
}
.con-131 {
	clear: both;
	height: auto;
	margin: 10px 0 0 0;
	min-height: 15px;
	position: relative;
}
.con-132 {
	clear: both;
	margin: 0 0 1.538rem 0;
	min-height: 20px;
	position: relative;
}
.con-133 {
	clear: both;
	height: auto;
	min-height: 60px;
	position: relative;
}
.con-134 {
	clear: both;
	height: auto;
	margin: 0 51px 0 50px;
	min-height: 50px;
	position: relative;
}
.con-135 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 20px;
	position: relative;
}
.con-136 {
	background-color: rgb(40, 40, 40);
	clear: both;
	height: auto;
	padding: 0 1.538rem 0 1.538rem;
	position: relative;
}
.con-137 {
	clear: both;
	height: auto;
	min-height: 20px;
	position: relative;
}
.con-138 {
	background-image: url('../images/archive/2-knapper/button_35.html');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 50px;
	padding: 0 0 0 0;
	position: relative;
}
.con-139 {
	clear: both;
	margin: 1.538rem 0 1.538rem 0;
	min-height: 20px;
	padding: 0 0 0 0;
	position: relative;
}
.con-140 {
	background-color: transparent;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 1.538rem 0 1.538rem 0;
	position: relative;
}
.con-141 {
	background-color: transparent;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 0 0 0 0;
	position: relative;
}
.con-142 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 60px;
	position: relative;
}
.con-143 {
	background-color: #efefef;
	clear: both;
	height: auto;
	min-height: 0;
	position: relative;
}
.con-144 {
	clear: both;
	height: auto;
	min-height: 35px;
	padding: 0.4614rem 0 0 0;
	position: relative;
}
.con-145 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 300px;
	position: relative;
}
.con-146 {
	background-color: #ffffff;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 1.538rem 0 1.538rem 0;
	position: relative;
}
.con-147 {
	border-color: rgb(195, 195, 195);
	border-style: solid;
	border-width: 0 0 0 4px;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 20px;
	padding: 0 0 0 1.538rem;
	position: relative;
}
.con-148 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 250px;
	position: relative;
}
.con-149 {
	border-width: 0 0 0 0;
	clear: both;
	height: 250px;
	position: relative;
}
#site-container-5781 .centered-btns_tabs {
	left: 0px;
	top: 220px;
}
#site-container-5781 .centered-btns_tabs .centered-btns_here a {
	background: #ce0000;
}
#site-container-5781 .centered-btns_tabs a {
	background: #efefef;
}
.con-153 {
	background-color: #efefef;
	clear: both;
	height: auto;
	min-height: 0;
	padding: 0 0 1.538rem 0;
	position: relative;
}
.con-154 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 100px;
	position: relative;
}
.con-155 {
	border-width: 0 0 0 0;
	clear: both;
	height: auto;
	min-height: 100px;
	position: relative;
	width: auto;
}
.con-156 {
	background-color: transparent;
	height: auto;
	min-height: 0;
	padding: 0 0 0 0;
}
.con-157 {
	background-color: #efefef;
	height: auto;
	min-height: 0;
}
.con-158 {
	min-height: 0;
	padding: 0 0 1.538rem 0;
}
#site-container-5796 .menu-container .level1 li a {
	background-color: transparent;
	background-image: url('../templates/1/menu-pil.png');
	background-position: left center;
	background-repeat: no-repeat;
	border-color: #dadada;
	border-style: solid;
	border-width: 0 0 1px 0;
	color: #3c3c3c;
	font-family: 'cuprum', arial, serif;
	font-size: 18px;
	margin: 0 0 0 0;
	padding: 17px 15px 15px 20px;
	text-align: left;
}
#site-container-5796 .menu-container .level1 li a.active {
	background-color: #ce0000;
	background-image: url('../templates/1/menu-pil-hover.png');
	color: #efefef;
}
#site-container-5796 .menu-container .level1 li a:hover {
	background-color: #ce0000;
	background-image: url('../templates/1/menu-pil-hover.png');
	color: #efefef;
}
#site-container-5796 .menu-container .level2 li a {
	background-color: #e1e1e1;
	border-color: #cdcdcd;
	color: #5b5b5b;
	padding: 10px 15px 10px 25px;
}
#site-container-5796 .menu-container .level3 li a {
	background-color: #cdcdcd;
	border-color: #c5c5c5;
	color: #000000;
	padding: 8px 15px 8px 30px;
}
#site-container-5796 .menu-container .level4 li a {
	background-color: #a5a5a5;
	border-color: #a5a5a5;
	font-style: italic;
	font-weight: bold;
}
.con-165 {
	clear: both;
	height: auto;
	min-height: 0;
	position: relative;
}
.con-166 {
	min-height: 30px;
}
.con-167 {
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 486px;
	padding: 1.538rem 0 0 0;
	position: relative;
}
.con-168 {
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 97px;
	padding: 1.538rem 0 0 0;
	position: relative;
}
.con-169 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 198px;
	padding: 0 0 0 0;
	position: relative;
}
.con-170 {
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 25px;
	padding: 1.538rem 0 0 0;
	position: relative;
}
.con-171 {
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 13px;
	padding: 1.2304rem 0 0 0;
	position: relative;
}
.con-172 {
	background-image: url('../images/archive/2-c2a/knap_2_374.jpg');
	background-position: 100% 0%;
	background-repeat: no-repeat;
	clear: both;
	height: auto;
	margin: 1.538rem 0 0 0;
	min-height: 34px;
	padding: 0.769rem 3.845rem 0 0;
	position: relative;
}
.con-173 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 401px;
	padding: 0 0 0 0;
	position: relative;
}
.con-174 {
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	height: 73px;
	margin: 0 0 1.538rem 0;
	padding: 1.538rem 0 0 0;
	position: relative;
}
.con-175 {
	background-image: url('../images/archive/2-c2a/knap_2_374.jpg');
	background-position: 100% 0%;
	background-repeat: no-repeat;
	clear: both;
	height: auto;
	margin: 3.076rem 0 0 0;
	min-height: 11px;
	padding: 0.769rem 3.845rem 0 0;
	position: relative;
}
.con-176 {
	background-image: url('../images/archive/2-c2a/knap_2_374.jpg');
	background-position: 100% 0%;
	background-repeat: no-repeat;
	clear: both;
	height: auto;
	margin: 6.152rem 0 0 0;
	min-height: 34px;
	padding: 0.769rem 3.845rem 0 0;
	position: relative;
}
.con-177 {
	clear: both;
	height: auto;
	min-height: 129px;
	padding: 0 0 0 0;
	position: relative;
}
.con-178 {
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	clear: both;
	height: 24px;
	padding: 1.538rem 1.538rem 1.538rem 1.538rem;
	position: relative;
}
.con-179 {
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	clear: both;
	height: 78px;
	padding: 1.538rem 1.538rem 1.538rem 1.538rem;
	position: relative;
}
.con-180 {
	clear: both;
	height: auto;
	min-height: 173px;
	padding: 0 0 0 0;
	position: relative;
}
.con-181 {
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	clear: both;
	height: auto;
	min-height: 129px;
	padding: 1.538rem 1.538rem 1.538rem 1.538rem;
	position: relative;
}
.con-182 {
	clear: both;
	height: auto;
	min-height: 100px;
	padding: 0 0 0 0;
	position: relative;
}
.con-183 {
	background-color: rgb(247, 0, 0);
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-width: 0 0 1px 0;
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 5px;
	padding: 0.769rem 0.769rem 0.769rem 0.769rem;
	position: relative;
}
.con-184 {
	clear: both;
	height: auto;
	min-height: 66px;
	padding: 0 0 0 0;
	position: relative;
}
.con-185 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 103px;
	padding: 0 0 0 0;
	position: relative;
}
.con-186 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 38px;
	padding: 0 0 0 0;
	position: relative;
}
.con-187 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 105px;
	padding: 0 0 0 0;
	position: relative;
}
.con-188 {
	clear: both;
	height: auto;
	min-height: 128px;
	padding: 0 0 0 0;
	position: relative;
}
#site-container-8947 .menu-container .level1 .level2 .level3 .level4 li a {
	background-color: #a5a5a5;
	border-color: #a5a5a5;
}
#site-container-8947 .menu-container .level1 .level2 .level3 li a {
	background-color: #cdcdcd;
	border-color: #c5c5c5;
	color: #000000;
	padding: 8px 15px 8px 30px;
}
#site-container-8947 .menu-container .level1 .level2 li a {
	background-color: #e1e1e1;
	border-color: #cdcdcd;
	color: #3c3c3c;
	padding: 10px 15px 10px 25px;
}
#site-container-8947 .menu-container .level1 li a {
	background-color: #3c3c3c;
	border-color: #242424;
	border-style: solid;
	border-width: 0 0 1px 0;
	color: #efefef;
	font-size: 16px;
	padding: 10px 15px 10px 15px;
	text-align: left;
}
#site-container-8947 .menu-container .level1 li a.active {
	background-color: #545454;
	color: #ffffff;
}
#site-container-8947 .menu-container .level1 li a:hover {
	background-color: #545454;
	color: #ffffff;
}
#site-container-8947 .menu-container .level1 li.last a.level1 {
	border-width: 0 0 0 0;
}
.con-196 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 400px;
	padding: 0 0 0 0;
	position: relative;
}
.con-197 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 184px;
	padding: 0 0 0 0;
	position: relative;
}
.con-198 {
	clear: both;
	height: auto;
	min-height: 440px;
	padding: 0 0 0 0;
	position: relative;
}
.con-199 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 0;
	padding: 0 0 0 0;
	position: relative;
}
.con-200 {
	margin-bottom: 1.538rem;
	min-height: 20px;
}
.con-201 {
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	height: 68px;
	padding: 1.538rem 0 0 0;
	position: relative;
}
.con-202 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 10px;
	padding: 0 0 0 0;
	position: relative;
}
.con-203 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 177px;
	padding: 0 0 0 0;
	position: relative;
}
.con-204 {
	clear: both;
	height: auto;
	min-height: 1176px;
	padding: 0 0 0 0;
	position: relative;
}
.con-205 {
	clear: both;
	height: 200px;
	padding: 0 0 0 0;
	position: relative;
}
.con-206 {
	clear: both;
	height: auto;
	min-height: 83px;
	padding: 0 0 0 0;
	position: relative;
}
.con-207 {
	clear: both;
	height: auto;
	min-height: 181px;
	padding: 0 0 0 0;
	position: relative;
}
.con-208 {
	clear: both;
	height: 198px;
	padding: 0 0 0 0;
	position: relative;
}
.con-209 {
	clear: both;
	height: auto;
	min-height: 193px;
	padding: 0 0 0 0;
	position: relative;
}
.con-210 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 99px;
	padding: 0 0 0 0;
	position: relative;
}
.con-211 {
	clear: both;
	height: auto;
	min-height: 188px;
	padding: 0 0 0 0;
	position: relative;
}
.con-212 {
	clear: both;
	height: auto;
	min-height: 191px;
	padding: 0 0 0 0;
	position: relative;
}
.con-213 {
	clear: both;
	height: 59px;
	margin: 1.538rem 0 0 0;
	padding: 0 0 0 0;
	position: relative;
}
.con-214 {
	clear: both;
	height: 18px;
	padding: 0 0 0 0;
	position: relative;
}
.con-215 {
	clear: both;
	height: 58px;
	margin: 1.538rem 0 0 0;
	padding: 0 0 0 0;
	position: relative;
}
.con-216 {
	clear: both;
	height: auto;
	min-height: 400px;
	padding: 0 0 0 0;
	position: relative;
}
.con-217 {
	clear: both;
	height: auto;
	min-height: 510px;
	padding: 0 0 0 0;
	position: relative;
}
.con-218 {
	clear: both;
	height: auto;
	margin: 1.538rem 0 0 0;
	min-height: 350px;
	padding: 0 0 0 0;
	position: relative;
}
.con-219 {
	clear: both;
	height: auto;
	min-height: 350px;
	padding: 0 0 0 0;
	position: relative;
}
.con-220 {
	clear: both;
	height: auto;
	min-height: 25px;
	padding: 0 0 0 0;
	position: relative;
}
.con-221 {
	min-height: 20px;
}
.con-222 {
	min-height: 100px;
}
.con-223 {
	clear: both;
	height: auto;
	min-height: 600px;
	padding: 0 0 0 0;
	position: relative;
}
.con-224 {
	clear: both;
	height: auto;
	min-height: 10px;
	padding: 0 0 0 0;
	position: relative;
}
.con-225 {
	clear: both;
	height: auto;
	min-height: 16px;
	padding: 0 0 0 0;
	position: relative;
}
.con-226 {
	clear: both;
	height: auto;
	margin: 0 0 1.538rem 0;
	min-height: 239px;
	padding: 0 0 0 0;
	position: relative;
}
@media only screen {
	.centered-btns_tabs {
		display: none;
	}
	.navbutton-offset {
		display: none;
	}
	.rslides_caption {
		display: none !important;
	}
	#site-container-5  {
		margin: 1.538rem 0 0 0;
	}
	#site-container-5789  {
		margin: 1.538rem 0 0 0;
	}
}
@media only screen and (min-width: 768px) {
	.centered-btns_tabs {
		display: block;
	}
	.navbutton-offset {
		display: block;
	}
	.rslides_caption {
		display: block !important;
	}
	#site-container-5  {
		margin: 0 0 0 0;
	}
	#site-container-4714  {
		margin: 0 0 1.538rem 0;
	}
	#site-container-4722  {
		margin: 1.538rem 0 1.538rem 0;
	}
	#site-container-5789  {
		margin: 0 0 0 0;
	}
}
@media only screen and (min-width: 960px) {
	#site-container-5792  {
		margin-bottom: 1.538rem;
		margin-top: 0;
	}
	#site-container-5793  {
		margin-bottom: 0;
	}
}
